@model IEnumerable<MVCAssessmentQuestion2.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<p>
    @Html.ActionLink("Create New", "Create") |     @Html.ActionLink("Check By Year Movies", "YearMovies")
</p>





<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Moviename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofRelease)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Moviename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofRelease)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Mid })
            </td>

        </tr>
    }

</table>
